<h1>Beginner HTML Students</h1>

<ul>
<% @students.each do |stud| %>
  <li>
    <img src="<%= stud.photo_url %>">
    <h3>
      <a href="https://twitter.com/<%= stud.twitter %>">
        <%= stud.name %>
      </a>
    </h3>
  </li>
<% end %>
</ul>
